html,
body{
    background: var(--default);
    margin: 0;
    padding: 0;
}
:root{
    --default: #121213;
    --empty: #3a3a3c;
    --wrong: #b59f3b;
    --right: #538d4e;
}
.title{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.title h1{
    color:azure;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.title h1 span{
    text-decoration: line-through;
    font-size: 2rem;
    text-transform: lowercase;
}
#game{
    margin-top: -4rem;
    display: grid;
    place-items: center;
    width: 100%;
    height: 600px;
}
.grid{
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(5, auto);
}
.box {
    width: 60px;
    height: 60px;
    border: 2px solid var(--empty);
    margin: 4px;
    color: white;
    text-transform: uppercase;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
}
.box.empty {
    background: var(--empty);
}
.box.wrong {
    background: var(--wrong);
}
.box.right {
    background: var(--right);
}

.animatedFlip {
    animation: flip 0.5s ease;
}
@keyframes flip {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.resetBtn{
    margin-top: -2rem;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.resetBtn button{
    background-color: var(--right);
    border-width: 0;
    border-radius: .2rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    color:azure;
    padding: .5rem .6rem;
}
.resetBtn button:hover{
    transform: scale(105%);
}

.gameOver{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    color:azure;
    margin: 3rem;
}

.animatedAppear{
    animation: appear .8s ease;
}
@keyframes appear{
    0% {
        opacity: 0%;
        transform: scale(0%);
    }
    75%{
        transform: scale(105%);
    }
    100% {
        opacity: 100%;
        transform: scale(100%);
    }
}

.animatedVerticalShuffle{
    animation: verticalShuffle linear .8s 2;
}

@keyframes verticalShuffle{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-.5rem);
    } 
    50%{
        transform: translateY(0rem);
    }
    75%{
        transform: translateY(.5rem);
    }
    100%{
        transform: translateY(0rem);
    }
}

.animatedShake{
    animation: shake linear .15s 2;
}
@keyframes shake{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-.5rem);
    } 
    50%{
        transform: translateX(0rem);
    }
    75%{
        transform: translateX(.5rem);
    }
    100%{
        transform: translateX(0rem);
    }
}